#part0 {
    font-size: 150px;
}

#part2 {
    padding-top: 0;
    padding-bottom: 0;
}

/*------------------------------------*/
.prmt-chld {
    width: 25%;
    transition: 200ms;
}

.prmt-chld:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.35), 0 6px 20px 0 rgba(0, 0, 0, 0.35);
}
/*------------------------------------*/
.tm-mmbr {
    width: 22%;
    transition: 200ms;
}

.tm-mmbr:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.35), 0 6px 20px 0 rgba(0, 0, 0, 0.35);
}
.scmd-img {transition: 200ms;}
.scmd-img:hover {
    opacity: 0.8;
}
/*------------------------------------*/
.slide-cntnr {
    width: 70%;
}

.dots {transition: 200ms;}
.dots:hover {
    opacity: 0.8;
}
/*------------------------------------*/
